{% extends 'Posts/base_post.html' %}
{% load static %}
{% block title %}Profile page{% endblock %}
{% block contents %}
    <h2>profile page</h2>





    <div class="container">
        <div class="row bg-white pt-3 rounded pb-2">
            <div class="col-4">
                <img src="{% static 'img/avatar_m2.jpg' %}" alt="" width="150rem" class=" rounded-circle small ml-auto">
            </div>
            <div class="col-8">
                <p><b class="text-muted">{{ user.username|capfirst }}</b>
                    <button class="btn btn-outline-dark ml-2">Edit Profile</button> <i class='bx bx-certification bx-sm'></i>
                </p>
                <div>
                    {{ feeds.count }} feed/s
                </div>
                <div class="pt-2">
                    {{ user.first_name|capfirst }} {{ user.last_name|capfirst }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}