{% extends 'Userpage/base.html' %}

{% block title %}Instagram page{% endblock %}
{% block contents %}
    <div class="m-5 pt-5">
        <div class="card text-center w-75 mx-auto border-dark">
        <div class="card-header">

        </div>
        <div class="card-body">
            <h5 class="card-title">Instagram Replica</h5>
            <p class="card-text">This site tends to replicate the instagram web app.</p>
            <a href="{% url 'loginpage' %}" class="btn btn-outline-dark">Login</a>
            <a href="{% url 'signuppage' %}" class="btn btn-outline-dark">Sign up</a>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
    </div>

{% endblock %}